<form [formGroup]="form" class="form">
  <mat-form-field class="field" appearance="fill">
    <mat-label>USD</mat-label>
    <input (input)="changeUAH()" formControlName="usd" type="number" matInput placeholder="Enter amount">
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>I want to</mat-label>
    <mat-select formControlName="dealType">
      <mat-option *ngFor="let option of dealTypes" [value]="option.value">
        {{option.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>UAH</mat-label>
    <input (input)="changeUSD()" formControlName="uah" type="number" matInput placeholder="Enter amount">
  </mat-form-field>
</form>
